<div class="header">
    <div class="header__title" routerLink="/" routerLinkActive="router-link-active" >Ecommerce App</div>
    <div class="header__navigation">
        <div *ngIf="!isAuthorized">
            <a class="app-a" routerLink="auth/registration" routerLinkActive="app-a_active">Registrar</a>
            <a class="app-a" routerLink="auth/login" routerLinkActive="app-a_active">Login</a>
        </div>

        <a class="app-a" routerLink="demo" routerLinkActive="app-a_active">Demo</a>

        <div *ngIf="isAthorized">
            <a class="app-a" (click)="onProfileNavigate()">Pelfil</a>
            <a class="app-a" (click)="onSignOut()">Salir Sesion</a>
        </div>

    </div>
</div>