<div class="app-page">
    <div class="app-page__header">
        <h1>{{ title }}</h1>
    </div>

    <div class="app-page__content">
        <app-stepper *ngIf="dictionariesIsReady$ | asyc">
            <ng-container [ngSwitch]="stepper?.activeStep?.key">
                <app-personal [dictionaries]="dictionaries$ | async"
                (change)="onChangedPersonal($event)"
                *ngSwitchCase="'personal'"
                [value]="personal$ | async">
            </app-personal>
                <app-professional *ngSwitchCase="'professional'"
                [dictionaries]="dictionaries$ | async"
                (change)="onChangedProfesional($event)"
                [value]="professional$ | async">
            </app-professional>
            </ng-container>
        </app-stepper>
    </div>

    <app-spinner **ngIf="loading$ | async"></app-spinner>

</div>